.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 11%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.listaBotonesHeader {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
    align-items: center;
    padding-right: 1rem;
    justify-content: center;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.titulo span {
    font-size: 1.7em;
    font-weight: bold;
    color: black;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.logo-with-border {
    border: 1px solid dimgray;
}

.logo-header {
    width: 80px;
    height: 80px;
}

.search-usernames-header {
    width: 300px;
}

.buscador {
    text-align: -webkit-center;
    /*width: 100%;*/
}

.img-logout-header {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 450px) {
    .titulo span {
        font-size: 1em;
    }
}
@media screen and (max-width: 600px) {
    .header {
        height: 10%;
    }
}